.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/********* Header ************/
header.navbar{
  text-align: center;
  display: block;
  .navbar-brand{
    margin: 0;
  }
}

/********* Footer ************/
footer{
  background-color:rgba(0, 0, 0, .85);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  p{
    margin: 0;
    line-height: 1.2;
    font-size: 12px;
    color: #fff;
  }
}


/******** COMMNET BOX ********/
body{
  background-color: #f9f9f9;
}

.btnLnk{
  padding: 0;
  font-size: 12px;
  background: transparent;
  box-shadow: none;
  border: 0;
  color: #9b8a86;
  font-weight: 600;
  &:hover,&.active{
    color:#000;
  }
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.client-demo{
  display: block;
	position: relative;
  padding: 90px 0;
  min-height: 100vh;
  background-color: rgba(25, 179, 208, .1);
  ul.nav.nav-pills{
    margin: 0 0;
    justify-content: center;
    .nav-link{
      background-color: #ddd;
      color:#000;
      margin-right: 20px;
      text-transform: capitalize;
      border-radius: 0;
      &.active{
        background-color: #0056b3;
        color: #fff;
        box-shadow: 0 5px 5px rgba(0,0,0,.7);
      }
    }
  }
  .tab-content {
    padding: 50px 0;
  }
  .mi-action-bx{
    display: flex;
    margin: 0px 0 0 0px;
    padding: 0;
    border: 1px solid #dedede;
    li{
      display: block;
      text-align: center;
      width: 33.33%;
      border-left: 1px solid #dedede;
      &:first-child{
        border: 0;
      }
      .btn{
        color: #717171;
        font-size: 14px;
        line-height: 1.4;
        padding: 10px;
        background-color: #f9f9f9;
        border: 0;
        width: 100%;
        font-weight: 400;
        border-radius: 0;
        &:focus{
          outline: 0;
          box-shadow: none;
        }
      }
      &.active{
        background-color: #eee;
        .btn{
          background-color: #eee;
          color: #0069d9;
          font-weight: 600;
        }
      }
    }
  }
  .upload-img-bx{
    width: 60%;
    margin: 0 auto;
    display: block;
    
    @media(max-width:991px){
      width: 70%;
    }
    @media(max-width:575px){
      width: 100%;
    }
    .img-sec1{
      width:100% ;
      display: block;
      max-width: 100%;
      border: 5px solid #596169;
      box-shadow: 0 2px 2px rgba(0,0,0,.25);
    }
    .img-back{
      background: url("/images/img-hd-1.jpg") no-repeat;
      background-size: cover;
      width: 100%;
      height: 500px;
      background-position: center;
      display: block;
      position: relative;
      border: 5px solid #596169;
      box-shadow: 0 2px 2px rgba(0,0,0,.25);
      @media(max-width: 1199px){
        height: 352px;
      }
      @media(max-width: 575px){
        height: 305px;
      }
      @media(max-width: 575px){
        height: 250px;
      }
    }
  }

  .c-details {
    width: 55%;
    margin: 0 auto;
    display: block;
   
    @media(max-width:1199px){
      width: 60%;
    }
    @media(max-width:991px){
      width: 70%;
    }
    @media(max-width:575px){
      width: 100%;
    }
    .cm-box{
      background-color: #fff;
      border-bottom: 1px solid #ddd;
    }
  }
  .main-img {
    display: block;
     overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0;
    border: 2px solid #a2a5a2;
    
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .heading-sec {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
  }
  .comment-box {
    display: block;
    position: relative;
    padding: 0px 0;
       
    .c-answer-bx {
      display: flex;
      margin: 0 0px;
      background: #f1f1f1;
      padding: 20px;
      border:1px solid #ddd;
      border-top: 0;
      border-bottom: 0;
      &.child-ans-bx{
        border:1px solid #ddd;
      }

      @media(max-width:575px){
        padding: 20px 15px;
      }
      .img {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .cans-desc {
        display: flex;
        width: calc(100% - 50px);
        padding-left: 20px;
        .form-group{
          width: 100%;
          margin: 0;
          .form-control{
            border-radius: 0;
            height: 50px;
          }
        }
        .btn {
          height: 50px;
          border-radius: 0;
          min-width: auto;
          text-transform: uppercase;
          &:focus{
            outline: 0;
            box-shadow: none;
          }
          @media(max-width: 575px){min-width: auto;}
        }
      }
    }
    .c-item {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      position: relative;
      background: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      border-bottom: 0;
      &.c-parent {
        display: none;
      }
      &.active {
        display: flex;
      }
      .img {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0,0,0,.25);
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .c-desc {
        display: block;
        width: calc(100% - 50px);
        padding-left: 20px;
        h4 {
          display: flex;
          font-size: 16px;
          font-weight: 600;
          color: #007bff;
          margin: 0 0 10px;
          border-bottom: 1px solid #d3d3d3;
          padding: 0 0 10px;
          flex-wrap: wrap;
          align-items: center;
          line-height: 1.2;
          span {
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: #a1aec3;
            position: relative;
            padding-left: 30px;
            &:before {
              display: block;
              position: absolute;
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              margin-left: 0;
              top: 50%;
              transform: translateY(-50%);
              left: 15px;
              background: #d0cfcf;
            }
          }
        }
        p {
          display: block;
          font-size: 14px;
          font-weight: 400;
          color: #4a5666;
          margin: 0;
          line-height: 1.4;
          font-size: 13px;
        }
        .c-actions-bx {
          margin: 15px 0 0;
          .cab-left {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              color: #9b8a86;
              a {
                display: block;
                font-size: 12px;
                line-height: 1;
                font-weight: 600;
                color: #9b8a86;
                &:hover {
                  color: #000;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
    
    .reply-bx {
      display: none;
      margin: 0;
      background: #fff;
      border: 1px solid #ddd;
      padding: 0px 20px 20px 100px;
      border-top: 0;
      &.active {
        display: block;
      }
      @media(max-width:575px){padding-left: 30px;}
      .child-ans-bx{
        &.active{
          display: none;
        }
        
      }

      .c-item {
        margin: 0 0 15px;
        background-color: transparent;
        border: 0;
        padding: 0;
        &.child-comment{
          display: none;
          &.active{
            display: flex;
          }
        }
        .img {
          width: 40px;
          height: 40px;
          margin-right: 15px;
        }
        .c-desc {
          width: calc(100% - 55px);
          padding: 20px;
          background-color: #f1f1f1;
          h4 {
            font-size: 14px;
            margin: 0px 0 8px;
            padding: 0 0 6px;
            color: #ff0081;
          }
        }
      }
    }

  }
}